## Python for Data Science
#### Data Types 
#### str, int, float, complex, boolean
#### Sequences/Collections  (list, tuple, range)
#### Maps (dict )

In [ ]:
# variables, values and types
a = np.array([1,2])
a.len

In [ ]:
# int, float, type

In [ ]:
# variables, values and types
a = 'Hello '
b = "World"
a + b
c = a[1:3]
c

In [ ]:
# int, float, type

a = 3
b = str(a)
c = 7.4
d = int(c)
d

In [ ]:
# Camel case, Pascal case and Snake case
temperature = 37.3
myVariableName = 43  # Camel Case
MyVariableName = 22  # Pascal Case
my_variable_name = 33 # Snake Case

In [ ]:
# boolean True False
a = True 
b = False
a != b

In [ ]:
a = 4
if a > 4:
    print(a)
elif a < 4:
    print('a is less than 4')
else:
    print('a equals 4')

In [ ]:
b = 3
def myFunc(x, y):
    return x + y
    

myResult = myFunc(9, 8)
myResult

# Comparisions if, elif, else
if a < b:
    print("a is less than b")
elif a > b:
    print("a is greater than b")
else:
    print("a is equal to b")

# Lists, Dictionaries, Tuples, Sets
# [ ]       { : }         ( )     { }

In [ ]:
# Lists
a = [1, 2.23, 3, 4, 'Cat']
a

In [ ]:
# Loops, while, for 
fruits = ['apple', 'pear', 'peach']
r = range(1,9,2)
for i in r:
    print(i)
a = 3
if a in r:
    print(a)

In [ ]:
i = 1
while i in range(4):
    print(i)
    i = i + 1
    break

In [ ]:
# lists
a = [4,3,2,1]
a.append(5)
a.sort()
a.reverse()
a.index(3)

In [4]:
# Dictionary
mytup = ('name')
a = {'name':'John', 'email':'jrw@mit.edu'}
a.mytup[0]

AttributeError: 'dict' object has no attribute 'mytup'

In [1]:
# tuple













p = ('A','B','C')
a[p] = 999
a[p] = 767
for key in a:
    print(a[key])

NameError: name 'a' is not defined

In [ ]:
# set
a ={'alpha','beta','kappa'}
a.add('gamma')
if 'beta' in a:
    print(a)

b = [1,2,3]
c = set(b)
c

In [21]:
# Lists
a = [1, 'A', 2]
b = [a, a]
a[0] = -2
b

[[-2, 'A', 2], [-2, 'A', 2]]

In [18]:
# 2-D Lists
a = [[1,2,3],[4,5,6]]
b

[[4, 5, 6]]

[[1, 2, 3], [-9, 5, 6]]

In [7]:
import numpy as np

a = np.array([[1,2,3],[4,5,6]])
b = a[0:3,1:3]
b

array([[2, 3],
       [5, 6]])

### Python Exercise Starter Code

In [37]:
# list out all the words in this sentence
s = 'There were many people at the theatre and the crowd cheered as the band started playing a slow waltz'
myList = 
myList

['There',
 'were',
 'many',
 'people',
 'at',
 'the',
 'theatre',
 'and',
 'the',
 'crowd',
 'cheered',
 'as',
 'the',
 'band',
 'started',
 'playing',
 'a',
 'slow',
 'waltz']

In [39]:
# How many unique words are there. Hint use a python set
mySet =

17

In [44]:
# make a dictionary so the key is every unique word in the string 'latin'
# and the value is the number of times it occurs eg d = {'decem':2, 'urnae':3,'ex':5}
# strip out the ',' commas so they don't interfere with the words

latin = 'decem urnae pendent ex muro, decem urnae pendent ex muro, si forte una urna cadit ad terram, iam novem urnae pendent ex muro, una urna pendet ex muro,una urna pendet ex muro, si forte una urna cadit ad terram, iam nulla urna pendet ex muro'
words = {}

#
# Enter code here
#
words

{'decem': 2,
 'urnae': 3,
 'pendent': 3,
 'ex': 6,
 'muro': 5,
 'si': 2,
 'forte': 2,
 'una': 3,
 'urna': 5,
 'cadit': 2,
 'ad': 2,
 'terram': 2,
 'iam': 2,
 'novem': 1,
 'pendet': 3,
 'murouna': 1,
 'nulla': 1}

In [46]:
# create a 2D list so that it has the numbers 0-63 in its columns and rows as shown
mat = list(range(0,64))
def makeMatrix(a,n1,n2):
#
# Enter code here
#
    return M

A = makeMatrix(mat,8,8)
A

[[0, 1, 2, 3, 4, 5, 6, 7],
 [8, 9, 10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21, 22, 23],
 [24, 25, 26, 27, 28, 29, 30, 31],
 [32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47],
 [48, 49, 50, 51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60, 61, 62, 63]]

# Answers

In [29]:
# Count the number of words in this sentence
s = 'There were many people at the theatre and the crowd cheered as the band started playing a slow waltz'
myList = s.split(' ')
myList

['There',
 'were',
 'many',
 'people',
 'at',
 'the',
 'theatre',
 'and',
 'the',
 'crowd',
 'cheered',
 'as',
 'the',
 'band',
 'started',
 'playing',
 'a',
 'slow',
 'waltz']

In [18]:
# How many unique words are there
mySet = set(myList)
len(mySet)

17

In [27]:
# make a dictionary so the key is every unique word in the string 'latin'
# and the value is the number of times it occurs eg d = {'decem':2, 'urnae':3,'ex':5}
# strip out the ',' commas so they don't interfere with the words

latin = 'decem urnae pendent ex muro, decem urnae pendent ex muro, si forte una urna cadit ad terram, iam novem urnae pendent ex muro, una urna pendet ex muro,una urna pendet ex muro, si forte una urna cadit ad terram, iam nulla urna pendet ex muro'
latin = latin.replace(',','')
latin = latin.split(' ')
words = {}
for word in latin:
    if word in words: words[word] += 1
    else: words[word] = 1
words

{'decem': 2,
 'urnae': 3,
 'pendent': 3,
 'ex': 6,
 'muro': 5,
 'si': 2,
 'forte': 2,
 'una': 3,
 'urna': 5,
 'cadit': 2,
 'ad': 2,
 'terram': 2,
 'iam': 2,
 'novem': 1,
 'pendet': 3,
 'murouna': 1,
 'nulla': 1}

In [25]:
# create a 2D list so that it has the numbers 0-63 in its columns and rows as shown
mat = list(range(0,64))
def makeMatrix(a,n1,n2):
    M = []
    count = 0
    for row in range(0,n1):
        r = []
        for col in range(0,n2):
            r.append(a[count])
            count += 1
        M.append(r)
    return M

A = makeMatrix(mat,8,8)

A

[[0, 1, 2, 3, 4, 5, 6, 7],
 [8, 9, 10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21, 22, 23],
 [24, 25, 26, 27, 28, 29, 30, 31],
 [32, 33, 34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45, 46, 47],
 [48, 49, 50, 51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60, 61, 62, 63]]