## Python for Data Science
#### Data Types 
#### str, int, float, complex, boolean
#### Sequences/Collections  (list, tuple, range)
#### Maps (dict )

In [ ]:
# variables, values and types
a = np.array([1,2])
a.len

In [ ]:
# int, float, type

In [ ]:
# variables, values and types
a = 'Hello '
b = "World"
a + b
c = a[1:3]
c

In [ ]:
# int, float, type

a = 3
b = str(a)
c = 7.4
d = int(c)
d

In [ ]:
# Camel case, Pascal case and Snake case
temperature = 37.3
myVariableName = 43  # Camel Case
MyVariableName = 22  # Pascal Case
my_variable_name = 33 # Snake Case

In [ ]:
# boolean True False
a = True 
b = False
a != b

In [ ]:
a = 4
if a > 4:
    print(a)
elif a < 4:
    print('a is less than 4')
else:
    print('a equals 4')

In [ ]:
b = 3
def myFunc(x, y):
    return x + y
    

myResult = myFunc(9, 8)
myResult

# Comparisions if, elif, else
if a < b:
    print("a is less than b")
elif a > b:
    print("a is greater than b")
else:
    print("a is equal to b")

# Lists, Dictionaries, Tuples, Sets
# [ ]       { : }         ( )     { }

In [ ]:
# Lists
a = [1, 2.23, 3, 4, 'Cat']
a

In [ ]:
# Loops, while, for 
fruits = ['apple', 'pear', 'peach']
r = range(1,9,2)
for i in r:
    print(i)
a = 3
if a in r:
    print(a)

In [ ]:
i = 1
while i in range(4):
    print(i)
    i = i + 1
    break

In [ ]:
# lists
a = [4,3,2,1]
a.append(5)
a.sort()
a.reverse()
a.index(3)

In [ ]:
# Dictionary
a = {'name':'John', 'email':'jrw@mit.edu'}

In [ ]:
# tuple













p = ('A','B','C')
a[p] = 999
a[p] = 767
for key in a:
    print(a[key])

In [ ]:
# set
a ={'alpha','beta','kappa'}
a.add('gamma')
if 'beta' in a:
    print(a)

b = [1,2,3]
c = set(b)
c

In [21]:
# Lists
a = [1, 'A', 2]
b = [a, a]
a[0] = -2
b

[[-2, 'A', 2], [-2, 'A', 2]]

In [18]:
# 2-D Lists
a = [[1,2,3],[4,5,6]]
b

[[4, 5, 6]]

[[1, 2, 3], [-9, 5, 6]]

In [7]:
import numpy as np

a = np.array([[1,2,3],[4,5,6]])
b = a[0:3,1:3]
b

array([[2, 3],
       [5, 6]])